.bg-custom {
  background-color: black;
  color: white !important;
  height: 50px;
}

.nav-button-main{
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
}

.grow {
  transition: all .2s ease-in-out; 
 }

.grow:hover { 
 transform: scale(1.04); 
}

.box {
  transition: box-shadow .3s;
}
.box:hover {
  box-shadow: 0px 0px 20px -5px rgba(0,0,0,0.75);
}

.navBar {
  width: 100%;
  background-color: #111;
  color: white;
  padding: 10px;
}

.profile-pic {
  height: auto;
  width: 180px;
}

.search-img {
  width: 100px;
  height: auto;
  object-fit: cover;
}


.post-pic img {
   width: 100%;
   height: auto;
   object-fit: cover;
}

.follow-btn {
  position: absolute;
  bottom: 0;
  right: 0;
}

@media (max-width: 768px){
  .search-img img {
    width: 75px;
    height: auto;
    object-fit: cover;
  }
}
@media (min-width: 768px){
  .search-img img {
    width: 100px;
    height: auto;
    object-fit: cover;
  }
}

@media (max-width: 768px) {
  .dashboard-section img {
    height: auto;
    width: 100px;
  }
  .dashboard-section div {
    display: inline;
  }
}



@media (max-width: 768px) {
  .banner-section img {
    display: none;
  }
}

@media (min-width: 768px) {
  .banner-section img {
    position: absolute;
    height: 80%;
    width: auto;
    margin: center;
    padding: 2%;
  }
}

